extends layout

block content
    .text-center
        button#genUsers(type="button" name="get-users" class="btn-lg btn-primary") Get Users
    .container#users
        each user in users
            ul.col-md-3.well
                li= user.name
                li= user.age
                li= user.sex
                li= user.location
                li= user.twitter
                button.btn.btn-danger.delete(data-id= user.id) Delete
    script#handlebars(type='text/x-handlebars-template')
        {{#each users}}
        ul.col-md-3.well
            li {{this.name}}
            li {{this.age}}
            li {{this.sex}}
            li {{this.location}}
            li {{this.twitter}}
            button.btn.btn-danger.delete(data-id= '{{_id}}') Delete
        {{/each}}