extends layout

block content
    .text-center
        button#genUsers(type="button" name="get-users" class="btn-lg btn-primary") Get Users
    div(class="container-fluid" id="users")
        each user in users
            div(class="col-md-3 well")
                p= user.name
                p= user.age
                p= user.sex
                p= user.location
                p= user.twitter
                button.btn.btn-danger.delete(data-id= user.id) Delete
    script#handlebars(type='text/x-handlebars-template')
        {{#each users}}
        div(class="col-md-3 well")
            p {{this.name}}
            p {{this.age}}
            p {{this.sex}}
            p {{this.location}}
            p {{this.twitter}}
            button.btn.btn-danger.delete(data-id= '{{_id}}') Delete
        {{/each}}