.container
    .row
        each user in usersJSON
            div(class=".col-md-3 .well")
                span= user.name
                span= user.age
                span= user.sex
                span= user.location
                span= user.twitter