
block content
    .col-md-3
        strong Name:
        |#{user.name}
        br
        strong Age:
        |#{user.age}
        br
        strong Gender:
        |#{user.sex}
        br
        strong Location:
        |#{user.location}
        br
        strong Twitter:
        |#{user.twitterHandle}
        br
        button.delete(id="#{user.id}") Delete